/*done*/
:root {
    /* CSS HEX */
    --background_grey: rgba(234,234,235,1);
    --clark_scarlet: #cc0000;
    --clark_white:#FFF;
    --footer: #8a8a8a;
    --offwhiteBg:#edf2f4;
}

.navbar-nav {
    margin-left: auto;
    padding-right: 2rem;
}

.navbar-brand{
    padding-left: 2rem;
    margin-bottom: 1rem;
    font-size: large;
}

.navbar-btn:hover {
    color: var(--clark_white) !important;
    background-color: var(--clark_scarlet) !important;
    border-color: var(--clark_scarlet) !important;


}

h1, h3, p {
    margin-bottom: 20px;
}

#controls {
    margin-top: 2%;
}
#title {
    width:300%;
    position:relative;
    left: 250px;
    top: 200px;
}

#overview {
    position:relative;
    left: 180px;
    top: 165px;
}
h6 {
    width: 50%;
    position:relative;
    left: 50px;
    top: -70px;
}

#thumbnail {
    width: 100%;
    position:relative;
    left: 515px;
}