/*done*/

.navbar-nav {
    margin-left: auto;
    padding-right: 2rem;
}

.navbar-brand{
    padding-left: 2rem;
    margin-bottom: 1rem;
    font-size: large;
}

.navbar-btn:hover {
    color: #FFF;
    background-color: #cc0000 !important;
    border-color: #cc0000 !important;
}

.big {
    height: 200px;
}