#all {
    width:90%;
    justify-content: center;
    text-align: center;
    margin:auto;
    margin-top: 3%;
}

.navbar-nav {
    margin-left: auto;
}

.navbar-btn:hover {
    color: #FFF;
    background-color: #337AB7 !important;
    border-color: #2E6DA4 !important;
}

.navbar-brand{
    padding-left: 2rem;
    /*margin-bottom: 1rem;*/
    font-size: large;
}

.grey_out {
    background-color: rgba(97,97,98,0.7);
    /*opacity: 75%;*/
    color: white;
}

.card-title {
    font-size: 1.25em;
}

#events_div {
    background-color: rgba(234,234,235,1);
    /*border: solid;*/
    /*border-color: #d90429;*/
    border-radius: 25px;
    padding-bottom:3%;
    padding-top:3%;
    margin-bottom: 5%;
}

footer {
    background-color: grey;
}

.line {
    background-color: #d90429;
    height: 4px;
}

.carousel-item:hover img {
    opacity: 0.7;
}

.card:hover img {
    opacity: 0.7;
}