/*done*/

:root {
    /* CSS HEX */
    --background_grey: rgba(234,234,235,1);
    --clark_scarlet: #cc0000;
    --clark_white:#FFF;
    --footer: #8a8a8a;
}

#all {
    width:90%;
    justify-content: center;
    text-align: center;
    margin:auto;
    margin-top: 3%;
}


.navbar-nav {
    margin-left: auto;
    padding-right: 2rem;
}

.navbar-brand{
    padding-left: 2rem;
    margin-bottom: 1rem;
    font-size: large;
}

.navbar-btn:hover {
    color: var(--clark_white) !important;
    background-color: var(--clark_scarlet) !important;
    border-color: var(--clark_scarlet) !important;
}


.grey_out {
    background-color: rgba(119, 119, 119, 0.7);
    /*opacity: 75%;*/
    color: var(--clark_white);
}

.card-title {
    font-size: 1.25em;
}

#events_div {
    background-color: var(--background_grey);
    /*border: solid;*/
    /*border-color: #d90429;*/
    border-radius: 25px;
    padding-bottom:3%;
    padding-top:3%;
    margin-bottom: 5%;
}

footer {
    background-color: var(--footer);
}

.line {
    background-color: var(--clark_scarlet);
    height: 4px;
}

.carousel-item:hover img {
    opacity: 0.7;
}

.card:hover img {
    opacity: 0.7;
}