/*done*/

:root {
    /* CSS HEX */
    --background_grey: rgba(234,234,235,1);
    --clark_scarlet: #cc0000;
    --clark_white:#FFF;
}

#all {
    width:90%;
    justify-content: center;
    /*text-align: center;*/
    margin:auto;
    margin-top: 3%;
    background-color: var(--background_grey);
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2%;
    /*padding-bottom: 1%;*/
}

.navbar-nav {
    margin-left: auto;
    padding-right: 2rem;
}

.navbar-brand{
    padding-left: 2rem;
    margin-bottom: 1rem;
    font-size: large;
}

.navbar-btn:hover {
    color: var(--clark_white) !important;
    background-color: var(--clark_scarlet) !important;
    border-color: var(--clark_scarlet) !important;
}


#top {
    text-align: center;
}

#top .container, #desc_div2, #test{
    padding: 0;
}

section  {
    margin-bottom: 5%;
}

#event_desc {
    white-space: break-spaces;
}

.line {
    background-color: #d90429;
    height: 4px;
}

footer {
    background-color: grey;
}

.round {
    border-radius: 25px;
}
