/*done*/

:root {
    /* CSS HEX */
    --background_grey: rgba(234,234,235,1);
    --clark_scarlet: #cc0000;
    --clark_white:#FFF;
    --footer: #8a8a8a;
    --offwhiteBg:#edf2f4;
}

.navbar-nav {
    margin-left: auto;
    padding-right: 2rem;
}

.navbar-brand{
    padding-left: 2rem;
    margin-bottom: 1rem;
    font-size: large;
}

.navbar-btn:hover {
    color: var(--clark_white) !important;
    background-color: var(--clark_scarlet) !important;
    border-color: var(--clark_scarlet) !important;


}


#carousel img {
    height: 400px;
    filter: brightness(65%);
}

.carouselMargin{
    margin-bottom: 4rem;
}

#carousel h1{
    font-size: 4rem;
    padding-bottom: 0.5rem;
}

.main-text {
    position: absolute;
    top: 150px;
    width: 96%;
    color: var(--clark_white);
}

.carousel-indicators {
    position: absolute;
}
.carousel-caption{
    position: absolute;
    z-index: 15;
}

.offwhite_background{
    background-color: var(--offwhiteBg)
}


.red_background{
    background-color: var(--clark_scarlet);;
}


#gmap{
    text-align: center;
}

#gmap iframe{
    filter: chroma();
}

.makeRound {
    border-radius: 25px;
    border: 2px solid #03071e; !important;
    /*padding: 20px;*/
    /*width: 200px;*/
    /*height: 150px;*/
}

.makeRoundTop{
    border-radius: 30px     30px      0           0;
}

#aboutus{
    margin-left: 2.5rem;
    margin-top: 2.5rem;
}

#aboutus h1{
    margin-top: 2rem;
    text-align: center;
}

#aboutus p{
    font-size: 1.2rem;
    padding: 2rem;
}


/*-------------------*/
#partners {
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    background-color:var(--background_grey) ;
}

#partnerGrid img {
    width: 100%;
    height: 90%;
    object-fit: contain;
    padding: 1rem;
    /*background-size: contain;*/
}


footer {
    background-color: var(--footer);
}

.line{
    background-color: var(--clark_scarlet);
}
