/*done*/

:root {
    /* CSS HEX */
    --background_grey: rgba(234,234,235,1);
    --red: #d90429;
}


.navbar-nav {
    margin-left: auto;
    padding-right: 2rem;
}

.navbar-brand{
    padding-left: 2rem;
    margin-bottom: 1rem;
    font-size: large;
}

.navbar-btn:hover {
    color: var(--clark_white) !important;
    background-color: var(--clark_scarlet) !important;
    border-color: var(--clark_scarlet) !important;


}


#all {
    width:90%;
    justify-content: center;
    text-align: center;
    margin:auto;
    margin-top: 3%;
}
.card-body {
    text-align: left;
}
footer {
   color: black;
}