/*done*/

:root {
    /* CSS HEX */
    --background_grey: rgba(234,234,235,1);
    --clark_scarlet: #cc0000;
    --clark_white:#FFF;
    --footer: #8a8a8a;
    --offwhiteBg:#edf2f4;
}

#servicesGrid{
    margin: 2rem;
}

#peopleGrid{
    margin: 2rem;
}

.hideBio{
    display: none;
}


.serviced-img-top{
    width: 65%;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
}

.p-card{
    padding: 1.5em .5em .5em;
    border-radius: 2em;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.card-title{
    font-weight: 700;
    font-size: 1.5em;
}

.services_border{
    border-color: var(--clark_scarlet);
}
footer {
    background-color: var(--footer);
}