:root {
    /* CSS HEX */
    --background_grey: rgba(234,234,235,1);
    --red: #d90429;
}

.navbar-nav {
    margin-left: auto;
    padding-right: 2rem;
    /*margin-bottom: 0;*/
    /*padding-bottom: 0;*/
}

.navbar-btn:hover {
    color: #FFF;
    background-color: #edf2f4 !important;
    border-color: #edf2f4 !important;
}
.navbar-brand{
    padding-left: 2rem;
    /*margin-bottom: 1rem;*/
    font-size: large;
}

#all {
    width:90%;
    justify-content: center;
    /*text-align: center;*/
    margin:auto;
    background-color: var(--background_grey);
    border: solid var(--red);
    border-radius: 25px;
    padding-bottom:3%;
    padding-top:3%;
    margin-bottom: 5%;
    padding-left: 1%;
    padding-right: 1%;
}

#split {
    text-align: center;
}

#top {
    text-align: center;
}

#top .container{
    width: 75%;
}

section  {
    margin-bottom: 2%;
}

#proj_desc {
    white-space: pre-wrap;
}

footer {
    background-color: grey;
}

.line {
    background-color: #d90429;
    height: 4px;
}
