:root {
    /* CSS HEX */
    --background_grey: rgba(234,234,235,1);
    --clark_scarlet: #cc0000;
    --clark_grey: #939598;
}

.navbar-nav {
    margin-left: auto;
    padding-right: 2rem;
}

.navbar-btn:hover {
    color: #FFF;
    background-color: #edf2f4 !important;
    border-color: #edf2f4 !important;
}
.navbar-brand{
    padding-left: 2rem;
    /*margin-bottom: 1rem;*/
    font-size: large;
}

.jump {
    width: 33%;
    /*mb: 1%;*/
}

#all {
    width:90%;
    justify-content: center;
    text-align: center;
    margin:auto;
}

.card img {
    width:100%;
}

.pastProjName {
    font-size: 1.25em;
}

.smallerText {
    font-size: 0.9em;
}

section  {
    margin-bottom: 5%;
}

#pageNavigation {
    margin-bottom: 2%;
}

#currentProjects .container{
    width:75%;
}

#currentProjects, #pastProjs, #pubs_dist {
    background-color: var(--background_grey);
    /*border: solid 2px var(--clark_scarlet);*/
    /*border-color: #d90429;*/
    border-radius: 25px;
    padding-bottom:3%;
    padding-top:3%;
}
.red_border {
    border: solid 2px var(--clark_scarlet);
}

.round {
    border-radius: 25px;
}

.input-group {
    padding: 5%;
    /*border: solid;*/
}
#basic-addon2, #search_proj, #searchPub2, #search_pub {
    border: 2px solid #d90429;
    /*border-color: #d90429;*/
}

#pubs_dist {
    padding: 2%;
}

.line {
    background-color: #d90429;
    height: 4px;
}

.pub_dis_line {
    margin: 0;
    padding: 0;
    /*background-color: #d90429;*/
}

.grey_out {
    background-color: rgba(97,97,98,0.7);
    /*opacity: 75%;*/
    color: white;
}


#publicationList {
    text-align: left;
}

#dissertationList {
    text-align: left;
}

footer {
    background-color: grey;
}

